/* Cabecera */
body{
  background-color: #E6EFFD;
  font-family: "Work Sans",sans-serif,sans-serif;
}
.cabecera{
  background-color: white;
}

.titulo-cabecera{
    font-size: 1rem;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btn-inicio-sesion-cabecera{
  width: 130px; 
  height: 35px; 
  font-size: 15px;
}

/* Estilo Generales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .columna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  .logo-acueducto{
    width: 10rem;
  }

  /* Barra de Navegacio */
  .navbar{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(166, 211, 234);
  }

  .nav-item{
    margin-left: 30px;
  }




/* Logo Acueducto */
@media screen and (max-width: 450px){
  .logo-acueducto{
    width: 5rem;
  }
}

/* Boton Iniciar Sesion */
  @media screen and (max-width: 767px){
   .btn-inicio-sesion-cabecera{
    display: none;
   }
  }  

  @media screen and (max-width: 1920px){
    .btn-inicio-sesion-menu{
     display: none;
    }
   }  

  @media screen and (max-width: 767px){
    .btn-inicio-sesion-menu{
     display: flex;
    }
   }  

/* Titulo Acueducto */
  @media screen and (max-width: 767px){
    .titulo-cabecera{
        font-size: 0.9rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: -20px;
        margin-right: 10px;
    }
  }

  @media screen and (max-width: 450px){
    .titulo-cabecera{
      font-size: 0.7rem;
      
    }
  }
  
/* Buscador */
  @media screen and (max-width: 992px){
    .buscador-cabecera{
     display: none;
    }
   }  
  
  @media screen and (max-width: 767px){
    .buscador-cabecera{
     display: flex;
    }
   }
   
  @media screen and (max-width: 450px){
    .buscador-cabecera{
      width: 400px;
      right: 200px;
      margin-bottom: -35px;
    }
  }
  
  
/* Menu de Navegacion */
@media screen and (max-width: 450px){
  .btn-inicio-sesion-menu{
    margin-top: 25px;
  }
}

  